/* STYLING - for fun */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap');
body{
    background-color: rgb(250, 241, 232);
    font-family: 'Roboto', Arial;
    font-weight:400;
    letter-spacing:0.02em;
    color: rgb(84, 88, 83);
}
h1{
    color: rgb(125, 133, 124);
    letter-spacing: -0.03em;
}
.sign-up{
    margin-top: 2%;
    text-align: center;
}
.form-{
    margin-left: 5%;
}
input[type=text] 
    {
    padding:5px; 
    border:1.9px solid rgb(44, 44, 44); 
    border-radius: 5px;
    }
    input[type=submit] 
    {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none; 
    border-radius: 5px; 
    }

.memberTable{
    margin-left:5%;
    margin-top: 2%;
    width:35%;
    background-color: rgb(237, 255, 233);
}
